.Auth{
    display: grid;
    place-content: center;
    height: 100vh;
    background: linear-gradient(200deg, var(--color-1), rgba(150,255,255,0.7) );
    
    padding: var(--padding);

    form {
        background: linear-gradient(200deg, var(--color-1), rgba(150,255,255,0.7) );
        padding: var(--padding);
        width: 500px;
        border-radius: 5px;
        display: grid;
        row-gap: 20px;
    }
    
}