.Header{
    background: linear-gradient(45deg,silver -5%, rgb(135, 71, 34)10%, rgb(137, 41, 3)  90%, silver 120% );

    height: 60px;

    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 20px;
    align-items: center;

    .NavigationContainer{
        display: none;
        justify-self: end;
    }

    @media (min-width: 750px){
        height: 90px;
        padding: 0px 20px; 
    .MenuContainer{
        display: none;
    }

    .NavigationContainer{
        display: initial;
    }
  } 
}

