.Header{
    background: linear-gradient(45deg, var(--color-3), var(--color-4), var(--color-2));

    height: 60px;

    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 20px;
    align-items: center;
    padding-right: 20px;

    .NavigationContainer{
        display: none;
        justify-self: end;
    }

    @media (min-width: 750px){
        height: 90px;
        padding: 0px 20px; 
    .MenuContainer{
        display: none;
    }

    .NavigationContainer{
        display: initial;
    }
  } 
}

