.Menu{
    height: 60px;
    width: 60px;
    background: linear-gradient(125deg, var(--color-4), var(--color-3));
    

    &::before{
        content: '☰';
        font-size: 1.5em;
    }

    &.Open{
        &::before {
            content: '✕'
        }
        .MenuContainer{
        transform: translateX(0);
        width: 100px;
      }
    }

    .MenuContainer{
        position: absolute;
        top: 60px;
        height: calc(100vh - 60px);
        width: 90px;
        padding: 20px 10px;
        background: linear-gradient(-35deg, var(--color-1), var(--color-2) 75%, var(--color-4) 90%, var(--color-3) 95%);
        transform: translateX(-100%);
        transition: transform 300ms linear;
    }
}

