.Family{
    position: relative;
    padding: 15px;
    border: 2px solid var(--color-4);
    border-radius: 5px;
    background: var(--color-5);
    min-height: 100px;
    display: grid;
    grid-template-rows: auto 1fr 40px;
    gap: 10px;

    h2{
        margin: 0;
        dispaly: flex;
        gap: 10px;
        align-items: center;
        color: var(--color-3);
        font-size: 1.2em;
    }

    button{
        position: absolute;
        top: 5px;
        right: 10px;
        color: var(--color-4);
        background: transparent;
        font-size: 1.5em;
        cursor: pointer;
        opacity: .7;
    }
}