*{ 
    box-sizing: border-box;
    
}

body{
    height: 100vh;
}

:root{
    /* Global text fonts */
    --primary-font: 'Yanone Kaffeesatz', sans-serif, "Segoe UI", Candara, 
    "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", 
    "Trebuchet MS", Verdana, "Verdana Ref"; 

    --secondary-font: 'Exo', "Segoe UI", Candara, 
    "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", 
    "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;

    /* Global Color scheme */
    --color-1: #5f0f40;
    --color-2: #9a031e;
    --color-3: #fb8b24;
    --color-4: #e36414;
    --color-5: #0f4c5c;
    --white-color: rgb(252, 223, 223);
    --black-color: rgb(24, 15, 35);

    /* global padding to ensure perfect spacing */
    --padding: 30px;
    @media (min-width: 750px){
        --padding: 50px;
    }
}

:global(.theme-font){
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--black-color);
    font-family: var(--secondary-font);
}